body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #000000;
}

.menu, .basket-user {
  line-height: 30px;
  text-transform: uppercase;
  list-style: none;
  font-weight: 500;
}

.menu__link:hover, .menu__link:focus, .basket-user__link:hover, .basket-user__link:focus {
  color: #fb565a;
}
.menu__link:active, .basket-user__link:active {
  color: #000000;
  opacity: 30%;
}

.list-slider__header {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}
