body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #000000;
}

img {
  display: block;
}

button, input[type="submit"] {
  border: none;
  outline: none;
}

.main-header, .slider {
  background-color: #eeeeee;
}

.logo__image:hover, .logo__image:focus {
  opacity: 80%;
}

.logo__image:active {
  opacity: 30%;
}

.menu, .basket-user {
  line-height: 30px;
  text-transform: uppercase;
  list-style: none;
  font-weight: 500;
}

.menu__link:hover, .menu__link:focus, .basket-user__link:hover, .basket-user__link:focus {
  color: #fb565a;
}
.menu__link:active, .basket-user__link:active {
  color: #000000;
  opacity: 30%;
}

.list-slider {
  list-style: none;
}

.list-slider__header {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.list-slider__item:nth-of-type(1) {
  background: url("../img/slide1.png") no-repeat;
}
.list-slider__item:nth-of-type(2) {
  background: url("../img/slide2.png") no-repeat;
}
.list-slider__item:nth-of-type(3) {
  background: url("../img/slide3.png") no-repeat;
}

.card__header {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.card__description, .advantages__description, .list-services__item {
  color: #283136;
}

.button {
  background-color: #fb565a;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 2px;
}

.advantages__header {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.advantages__list-header, .advantages-statistic__description {
  font-weight: 700;
  text-transform: uppercase;
}

.list-services {
  list-style: none;
}
.advantages-statistic__table-th {
  font-size: 45px;
  line-height: 10px;
  font-weight: 700;
}

.advantages-statistic__table-td {
  font-size: 16px;
  line-height: 18px;
  color: #283136;
}

.companies-list {
  list-style: none;
}

.info__header {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.info__address, .info__phone {
  color: #666666;
  font-size: 16px;
  line-height: 18px;
}

.social-list {
  list-style: none;
}

.slogan__header {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.slogan__description {
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}

.modal-feedback__header {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.modal-feedback__label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

input[placeholder], textarea[placeholder] {
  font-size: 16px;
  line-height: 18px;
  color: #444444;
}
