body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #000000;
}

img {
  display: block;
}

button, input[type="submit"] {
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

/*
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
*/

.main-header, .slider {
  background-color: #eeeeee;
}

.logo__image:hover, .logo__image:focus {
  opacity: 80%;
}

.logo__image:active {
  opacity: 30%;
}

.menu, .basket-user {
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 500;
}

.menu__link:hover, .menu__link:focus, .basket-user__link:hover, .basket-user__link:focus {
  color: #fb565a;
}
.menu__link:active, .basket-user__link:active {
  color: #000000;
  opacity: 30%;
}

.list-slider__header {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.list-slider__item:nth-of-type(1) {
  background: url("../img/slide1.png") no-repeat;
}
.list-slider__item:nth-of-type(2) {
  background: url("../img/slide2.png") no-repeat;
}
.list-slider__item:nth-of-type(3) {
  background: url("../img/slide3.png") no-repeat;
}

.list-slider__more-info:hover {
  background-color: #e74246;
}

.list-slider__more-info:active, .list-slider__more-info:focus {
  background-color: #d7373b;
}

.list-slider__more-info:active .list-slider__more-info-text, .list-slider__more-info:focus .list-slider__more-info-text {
  opacity: 30%;
}

.card__header {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.card__submit {
  height: 50px;
  width: 160px;
}
.card__submit:active .card__submit-text {
  opacity: 30%;
}

.card:nth-of-type(1) .card__submit:hover{
  background-color: #e74246;
}

.card:nth-of-type(1) .card__submit:active {
  border-top: 3px solid #c13135;
  background-color: #d7373b;
}

.card:nth-of-type(2) .card__submit{
  background-color: #00ca74;
}

.card:nth-of-type(2) .card__submit:hover{
  background-color: #00bc6c;
}

.card:nth-of-type(2) .card__submit:active{
  border-top: 3px solid #009958;
  background-color: #00aa62;
}

.card:nth-of-type(3) .card__submit {
  background-color: #efc84a;
}

.card:nth-of-type(3) .card__submit:hover {
  background-color: #eab534;
}

.card:nth-of-type(3) .card__submit:active {
  border-top: 3px solid #ce961f;
  background-color: #e5a722;
}

.card__description, .advantages__description, .list-services__item {
  color: #283136;
}

.button {
  background-color: #fb565a;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 2px;
}

.advantages__header {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.advantages__list-header, .advantages-statistic__description {
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-statistic__table-th {
  font-size: 45px;
  line-height: 10px;
  font-weight: 700;
}

.advantages-statistic__table-td {
  font-size: 16px;
  line-height: 18px;
  color: #283136;
}


.info__header {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.info__address, .info__phone {
  color: #666666;
  font-size: 16px;
  line-height: 18px;
}

.slogan__header {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.slogan__description {
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}

.modal-feedback__header {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.modal-feedback__label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

input[placeholder], textarea[placeholder] {
  font-size: 16px;
  line-height: 18px;
  color: #444444;
}

/* Страница каталога */

fieldset {
  border: none;
  outline: none;
}

.main-content__header {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.catalog-filters__price-header, .catalog-filters__grid-header, .catalog-filters__features-header, .catalog-sorting__header {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.catalog-filters__label {
  font-size: 16px;
  line-height: 20px;
  color: #283136;
}

.catalog-filters__price .catalog-filters__label {
  line-height: 22px;
  text-transform: uppercase;
}

.catalog-filters__price .catalog-filters__input-text {
  border: none;
  outline: none;
  background-color: #eeeeee;
  border-radius: 2px;
}

.catalog-filters__submit {
  border: none;
  outline: none;
  background-color: #eeeeee;
  color: #000000;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  height: 50px;
  width: 260px;
  border-radius: 2px;
}

.catalog-filters__submit:hover {
  background-color: #dfdfdf;
}

.catalog-filters__submit:active {
  border-top: 2px solid #bfbfbf;
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}


.list-parameters__price, .list-parameters__type, .list-parameters__name {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.companies-list__image {
  opacity: 20%;
}

.companies-list__image:hover {
  opacity: 100%;
}

.companies-list__image:active {
  opacity: 10%;
}

.menu__item {
  position: relative;
}
.menu__link_active-page::after {
  content: "";
  position: absolute;
  width: 74px;
  height: 2px;
  top: 25px;
  left: 0;
  border-bottom: 2px solid #fb565a;
}

.social-list__link {
  display: block;
  height: 50px;
  width: 50px;
  background-color: #e1e1e1;
  padding: 20px;
  margin: 10px;
  border-radius: 50%;
  box-sizing: border-box;
}

.social-list__link:hover {
  background-color: #e74246;
}

.social-list__link:active {
  background-color: #d7373b;
  border-top: 2px solid #c3373b;
}

.social-list__link:active .social-list__img {
  opacity: 30%;
}

.modal-feedback {
  position: relative;
}

.modal-feedback__icon-close {
  position: absolute;
  background: url("../img/close-cross.svg") no-repeat 0 0;
  height: 30px;
  width: 30px;
}

.modal-feedback__icon-close:hover {
  opacity: 30%;
}

.modal-feedback__icon-close:active {
  opacity: 10%;
}

.modal-feedback__input-text, .modal-feedback__input-email, .modal-feedback__input-textarea {
  border: 2px solid #d7dcde;
  border-radius: 1px;
}

.modal-feedback__input-text:hover, .modal-feedback__input-email:hover, .modal-feedback__input-textarea:hover {
  border-color: #b4b9bb;
}

.modal-feedback__input-text:focus, .modal-feedback__input-email:focus, .modal-feedback__input-textarea:focus {
  border-color: #000000;
}

.modal-feedback__input-text:hover::placeholder, .modal-feedback__input-email:hover::placeholder, .modal-feedback__input-textarea:hover::placeholder {
  opacity: 50%;
}

.modal-feedback__input-text::placeholder, .modal-feedback__input-email::placeholder, .modal-feedback__input-textarea::placeholder {
  color: #444444;
  opacity: 50%;
}

.modal-feedback__input-text:focus::placeholder, .modal-feedback__input-email:focus::placeholder, .modal-feedback__input-textarea:focus::placeholder {
  opacity: 1;
}

.modal-feedback__input-text:invalid, .modal-feedback__input-textarea:invalid, .modal-feedback__input-email:invalid {
  border-color: #e74246;
  color: #e74246;
  box-shadow: none;
}

.card__top-image {
  opacity: 12%;
}

.card {
  position: relative;
  width: 360px;
}
.card__info {
  position: absolute;
  display: none;
  bottom: 0;
  width: 360px;
  height: 231px;
  background-color: #eeeeee;
}

.card:hover .card__top-image {
  opacity: 100%;
}

.card:hover .card__info {
  display: block;
}

.card__button {
  width: 200px;
  height: 50px;
}

.card__button:hover {
  background-color: #e74246;
}

.card__button:active {
  border-top: 3px solid #c13135;
  background-color: #d7373b;
}

input[type="radio"], input[type="checkbox"] {
  display: none;
}

.catalog-filters__label {
  position: relative;
}

.grid-list .catalog-filters__label::before, .features-list .catalog-filters__label::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  top: 0;
  left: -30px;
}

.grid-list .catalog-filters__label::before {
  background: url("../img/radio-off.svg") no-repeat 0 0;
}

.features-list .catalog-filters__label::before {
  background: url("../img/checkbox-off.svg") no-repeat 0 0;
}

.list-parameters__price, .list-parameters__name, .list-parameters__type {
  opacity: 30%;
}

.list-parameters__price:hover, .list-parameters__name:hover, .list-parameters__type:hover {
  opacity: 60%;
}

.list-parameters__price:active, .list-parameters__name:active, .list-parameters__type:active{
  opacity: 100%;
}

.list-parameters_active-item {
  opacity: 100%;
}

.list-parameters__direction-to-down, .list-parameters__direction-to-up {
  opacity: 20%;
}

.list-parameters__direction-to-down:hover, .list-parameters__direction-to-up:hover {
  opacity: 100%;
}

.list-parameters__direction-to-up:active .list-parameters__direction-to-up-svg path {
  fill: #231f20;
}

.list-parameters__direction-to-down:active .list-parameters__direction-to-down-svg path {
  fill:  #231f20;
}

.list-parameters_direction-active {
  opacity: 100%;
}

.list-parameters_direction-active path {
  fill: #231f20;
}







